{% extends "app/layout.html" %}
{% block content %}
<div>
    <h1>Видео-ролик 1 </h1>
    
<iframe class="" width="560" height="315" src="https://www.youtube.com/embed/KICOyoLJhzo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>
<hr/>
<div>
    <h1>Видео-ролик 2</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/-69eHWeFqAI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>                  
{% endblock %}